<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=macintosh">
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 14">
<link rel=File-List
href="Formato%20Factura%20Comercial%20ebox%20(versi%C3%B3n%201)%20Tripode_archivos/filelist.xml">
<!--[if !mso]>
<style>
\:* {behavior:url(#default#VML);}
\:* {behavior:url(#default#VML);}
\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style>
<![endif]-->
<style>
<!--table
	{mso-displayed-decimal-separator:"\.";
	mso-displayed-thousand-separator:"\,";}
@page
	{margin:1.0in .75in 1.0in .75in;
	mso-header-margin:0in;
	mso-footer-margin:0in;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl66
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;}
.xl67
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;}
.xl68
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;}
.xl69
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	border:1.0pt solid windowtext;
	white-space:normal;}
.xl70
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;}
.xl71
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;}
.xl72
	{mso-style-parent:style0;
	font-size:7.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;}
.xl73
	{mso-style-parent:style0;
	font-size:7.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl74
	{mso-style-parent:style0;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$USD\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;}
.xl75
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;}
.xl76
	{mso-style-parent:style0;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl77
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;}
.xl78
	{mso-style-parent:style0;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\.00\\ \[$USD\]\;\[Red\]\#\,\#\#0\.00\\ \[$USD\]";
	text-align:right;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;}
.xl79
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl80
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;}
.xl81
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;}
.xl82
	{mso-style-parent:style0;
	color:#333333;
	font-size:12.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl83
	{mso-style-parent:style0;
	color:#333333;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl84
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;}
.xl85
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\.00\\ \[$USD\]\;\[Red\]\#\,\#\#0\.00\\ \[$USD\]";
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;}
.xl86
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;}
.xl87
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl88
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;}
.xl89
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl90
	{mso-style-parent:style0;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;}
.xl91
	{mso-style-parent:style0;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;}
.xl92
	{mso-style-parent:style0;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;}
.xl93
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:yellow;
	mso-pattern:black none;}
.xl94
	{mso-style-parent:style0;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:yellow;
	mso-pattern:black none;}
.xl95
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:yellow;
	mso-pattern:black none;}
.xl96
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:yellow;
	mso-pattern:black none;}
.xl97
	{mso-style-parent:style0;
	background:yellow;
	mso-pattern:black none;}
.xl98
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:yellow;
	mso-pattern:black none;}
.xl99
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:yellow;
	mso-pattern:black none;}
.xl100
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:yellow;
	mso-pattern:black none;}
.xl101
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:yellow;
	mso-pattern:black none;}
.xl102
	{mso-style-parent:style0;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:yellow;
	mso-pattern:black none;}
.xl103
	{mso-style-parent:style0;
	mso-number-format:"\[$USD\]\\ \#\,\#\#0\.00";
	text-align:right;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:yellow;
	mso-pattern:black none;}
.xl104
	{mso-style-parent:style0;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$USD\]\\ \#\,\#\#0\.00";
	text-align:right;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:yellow;
	mso-pattern:black none;}
.xl105
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl106
	{mso-style-parent:style0;
	color:#1F497D;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	background:white;
	mso-pattern:black none;}
.xl107
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black none;}
.xl108
	{mso-style-parent:style0;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl109
	{mso-style-parent:style0;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	background:white;
	mso-pattern:black none;}
.xl110
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl111
	{mso-style-parent:style0;
	color:black;
	font-size:13.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl112
	{mso-style-parent:style0;
	font-size:6.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:normal;}
.xl113
	{mso-style-parent:style0;
	font-size:6.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	white-space:normal;}
.xl114
	{mso-style-parent:style0;
	font-size:6.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	white-space:normal;}
.xl115
	{mso-style-parent:style0;
	font-size:16.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;}
.xl116
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	white-space:normal;}
.xl117
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	white-space:normal;}
.xl118
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	white-space:normal;}
.xl119
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:center;}
.xl120
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:yellow;
	mso-pattern:black none;}
.xl121
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:yellow;
	mso-pattern:black none;}
.xl122
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:yellow;
	mso-pattern:black none;}
.xl123
	{mso-style-parent:style0;
	color:#333333;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:left;
	background:yellow;
	mso-pattern:black none;}
.xl124
	{mso-style-parent:style0;
	color:#333333;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:left;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:yellow;
	mso-pattern:black none;}
-->
</style>
</head>

<body link=blue vlink=purple>

<table border=0 cellpadding=0 cellspacing=0 width=771 style='border-collapse:
 collapse;table-layout:fixed;width:771pt'>
 <col width=72 style='mso-width-source:userset;mso-width-alt:3072;width:72pt'>
 <col width=69 style='mso-width-source:userset;mso-width-alt:2944;width:69pt'>
 <col width=67 style='mso-width-source:userset;mso-width-alt:2858;width:67pt'>
 <col width=76 style='mso-width-source:userset;mso-width-alt:3242;width:76pt'>
 <col width=65 style='width:65pt'>
 <col width=172 style='mso-width-source:userset;mso-width-alt:7338;width:172pt'>
 <col width=92 style='mso-width-source:userset;mso-width-alt:3925;width:92pt'>
 <col width=65 style='width:65pt'>
 <col width=93 style='mso-width-source:userset;mso-width-alt:3968;width:93pt'>
 <tr height=12 style='height:12.0pt'>
  <td height=12 width=72 style='height:12.0pt;width:72pt' align=left
  valign=top><span style='position:absolute;z-index:1;margin-left:0px;
  margin-top:0px;width:110px;height:35px'><img width=110 height=35
  src="Formato%20Factura%20Comercial%20ebox%20(versi%C3%B3n%201)%20Tripode_archivos/image001.png"></span>
  <table cellpadding=0 cellspacing=0>
   <tr>
    <td height=12 width=72 style='height:12.0pt;width:72pt'><a name="Print_Area"></a></td>
   </tr>
  </table>
  </span></td>
  <td width=69 style='width:69pt'></td>
  <td width=67 style='width:67pt'></td>
  <td width=76 style='width:76pt'></td>
  <td width=65 style='width:65pt'></td>
  <td width=172 style='width:172pt'></td>
  <td width=92 style='width:92pt'></td>
  <td width=65 style='width:65pt'></td>
  <td width=93 style='width:93pt'></td>
 </tr>
 <tr height=18 style='height:18.0pt'>
  <td colspan=9 height=18 class=xl115 style='height:18.0pt'>FACTURA
  COMERCIAL/COMMERCIAL INVOICE<span
  style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;</span></td>
 </tr>
 <tr height=17 style='height:17.0pt'>
  <td height=17 class=xl76 colspan=3 style='height:17.0pt;mso-ignore:colspan'>2250
  NW 114 AVE<span style="mso-spacerun:yes">&nbsp; </span>UNIT 1LMIAMI FL<span
  style="mso-spacerun:yes">&nbsp;</span></td>
  <td colspan=3 class=xl119></td>
  <td class=xl76></td>
  <td colspan=2 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=12 style='height:12.0pt'>
  <td height=12 class=xl65 colspan=2 style='height:12.0pt;mso-ignore:colspan'>MIAMI
  FL 33172-3652<span style="mso-spacerun:yes">&nbsp;&nbsp;</span></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
 </tr>
 <tr height=12 style='height:12.0pt'>
  <td height=12 class=xl65 colspan=2 style='height:12.0pt;mso-ignore:colspan'>Phone
  001-786-2727070</td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
 </tr>
 <tr height=12 style='height:12.0pt'>
  <td height=12 class=xl65 colspan=2 style='height:12.0pt;mso-ignore:colspan'>United
  States of America</td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
 </tr>
 <tr height=13 style='height:13.0pt'>
  <td height=13 class=xl65 style='height:13.0pt'></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
 </tr>
 <tr height=16 style='height:16.0pt'>
  <td height=16 class=xl93 style='height:16.0pt'>SHIPPER</td>
  <td class=xl111> <%= shipper %>&nbsp;</span></span></td>
  <td class=xl94>&nbsp;</td>
  <td class=xl95>&nbsp;</td>
  <td class=xl65></td>
  <td class=xl93>MAILBOX</td>
  <td class=xl99 colspan=2 style='mso-ignore:colspan'><%= client.mailbox  %></td>
  <td class=xl95>&nbsp;</td>
 </tr>
 <tr height=14 style='height:14.0pt'>
  <td height=14 class=xl96 style='height:14.0pt'>CONSIGNEE</td>
  <td class=xl97 colspan=2 style='mso-ignore:colspan'><%= client.name %></td>
  <td class=xl98>&nbsp;</td>
  <td class=xl65></td>
  <td class=xl105>EBL NUMBER</td>
  <td class=xl106>&nbsp;</td>
  <td class=xl107>&nbsp;</td>
  <td class=xl108>&nbsp;</td>
 </tr>
 <tr height=12 style='height:12.0pt'>
  <td height=12 class=xl105 style='height:12.0pt'>ADDRESS</td>
  <td class=xl107 colspan=3 style='mso-ignore:colspan;border-right:1.0pt solid black'><%= client.address %></td>
  <td class=xl65></td>
  <td class=xl96>REFERENCE</td>
  <td colspan=3 class=xl123 style='border-right:1.0pt solid black'><%= reference %> </td>
 </tr>
 <tr height=13 style='height:13.0pt'>
  <td height=13 class=xl66 style='height:13.0pt'>ORIGIN</td>
  <td class=xl90>USA</td>
  <td class=xl91>&nbsp;</td>
  <td class=xl68>&nbsp;</td>
  <td class=xl65></td>
  <td class=xl66>DESTINATION</td>
  <td class=xl91>COLOMBIA</td>
  <td class=xl91>&nbsp;</td>
  <td class=xl92>&nbsp;</td>
 </tr>
 <tr height=12 style='height:12.0pt'>
  <td height=12 class=xl65 style='height:12.0pt'></td>
  <td class=xl76></td>
  <td></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl87></td>
  <td class=xl65></td>
  <td class=xl65></td>
 </tr>
 <tr height=12 style='height:12.0pt'>
  <td height=12 class=xl65 style='height:12.0pt'></td>
  <td class=xl76></td>
  <td></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl89></td>
  <td class=xl65></td>
  <td class=xl65></td>
 </tr>
 <tr height=12 style='height:12.0pt'>
  <td height=12 class=xl65 style='height:12.0pt'></td>
  <td></td>
  <td></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl76></td>
  <td class=xl65></td>
  <td class=xl65></td>
 </tr>
 <tr height=9 style='mso-height-source:userset;height:9.75pt'>
  <td height=9 class=xl65 style='height:9.75pt'></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
 </tr>
 <tr height=38 style='mso-height-source:userset;height:38.25pt'>
  <td height=38 class=xl69 width=72 style='height:38.25pt;width:72pt'>UNIDADES
  (UNITS)</td>
  <td colspan=5 class=xl116 width=449 style='border-right:1.0pt solid black;
  border-left:none;width:449pt'>DESCRIPCION DETALLADA DE LOS ARTICULOS
  (COMPLETE DESCRIPTION OF GOODS)</td>
  <td class=xl69 width=92 style='border-left:none;width:92pt'><span
  style="mso-spacerun:yes">&nbsp;</span>CANTIDAD<span
  style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>(<span
  style="mso-spacerun:yes">&nbsp;&nbsp; </span>ITEMS<span
  style="mso-spacerun:yes">&nbsp; </span>)</td>
  <td class=xl69 width=65 style='border-left:none;width:65pt'>VALOR UNITARIO
  (UNIT VALUE)</td>
  <td class=xl69 width=93 style='border-left:none;width:93pt'>VALOR SUBTOTAL
  (SUBTOTAL VALUE)</td>
 </tr>
 <% items.each do |item| %>
  <tr height=17 style='height:17.0pt'>
  <td height=17 class=xl101 style='height:17.0pt;border-top:none'><%item.package%> <%= item.package %> PAK</td>
    <td colspan=5 class=xl120 style='border-right:1.0pt solid black;border-left:
    none'><%= item.name %></td>
    <td class=xl102 align=right style='border-top:none;border-left:none'><%= item.qty %></td>
    <td class=xl103 style='border-top:none;border-left:none'>USD <%= item.value %></td>
    <td class=xl104 style='border-top:none;border-left:none'>USD <%= item.total %></td>
   </tr>

 <% end %>
  <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl88 style='height:15.0pt'>&nbsp;</td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl80>&nbsp;</td>
  <td class=xl77 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl70 style='height:15.0pt'>&nbsp;</td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl80>&nbsp;</td>
  <td class=xl77 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl70 style='height:15.0pt'>&nbsp;</td>
  <td class=xl82></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl80>.</td>
  <td class=xl77 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl70 style='height:15.0pt'>&nbsp;</td>
  <td class=xl82></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl80>&nbsp;</td>
  <td class=xl77 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl70 style='height:15.0pt'>&nbsp;</td>
  <td class=xl82></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl80>&nbsp;</td>
  <td class=xl77 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl70 style='height:15.0pt'>&nbsp;</td>
  <td class=xl82></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl80>&nbsp;</td>
  <td class=xl77 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl70 style='height:15.0pt'>&nbsp;</td>
  <td class=xl82></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl80>&nbsp;</td>
  <td class=xl75 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl70 style='height:15.0pt'>&nbsp;</td>
  <td class=xl82></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl80>&nbsp;</td>
  <td class=xl75 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl70 style='height:15.0pt'>&nbsp;</td>
  <td class=xl82></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl80>&nbsp;</td>
  <td class=xl75 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl70 style='height:15.0pt'>&nbsp;</td>
  <td class=xl82></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl80>&nbsp;</td>
  <td class=xl75 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
 </tr>
 <tr height=15 style='height:15.0pt'>
  <td height=15 class=xl70 style='height:15.0pt'>&nbsp;</td>
  <td class=xl83></td>
  <td></td>
  <td></td>
  <td></td>
  <td class=xl80>&nbsp;</td>
  <td class=xl75 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
  <td class=xl74 style='border-left:none'>&nbsp;</td>
 </tr>
 <tr height=16 style='height:16.0pt'>
  <td height=16 class=xl70 style='height:16.0pt'>&nbsp;</td>
  <td class=xl82></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl79></td>
  <td class=xl86>(TOTAL PIECES)</td>
  <td class=xl84 style='border-left:none'><%= qty_total %></td>
  <td class=xl70 style='border-left:none'>&nbsp;</td>
  <td class=xl85 align=right style='border-left:none'><%= total%> USD</td>
 </tr>
 <tr height=13 style='height:13.0pt'>
  <td height=13 class=xl72 style='height:13.0pt'>(TOTAL PIECES)</td>
  <td class=xl81 style='border-left:none'>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl67>&nbsp;</td>
  <td class=xl68>&nbsp;</td>
  <td class=xl72 style='border-left:none'>(TOTAL WEIGHT)</td>
  <td class=xl71 style='border-left:none'>&nbsp;</td>
  <td class=xl78 style='border-left:none'>&nbsp;</td>
 </tr>
 <tr height=7 style='mso-height-source:userset;height:7.5pt'>
  <td height=7 class=xl73 style='height:7.5pt'></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl73></td>
  <td class=xl65></td>
  <td class=xl73></td>
 </tr>
 <tr height=0 style='display:none;mso-height-source:userset;mso-height-alt:
  15'>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
 </tr>
 <tr height=0 style='display:none;mso-height-source:userset;mso-height-alt:
  15'>
  <td height=0 colspan=9 style='mso-ignore:colspan'></td>
 </tr>
 <tr height=52 style='mso-height-source:userset;height:52.5pt'>
  <td colspan=9 height=52 class=xl112 width=771 style='border-right:1.0pt solid black;
  height:52.5pt;width:771pt'>SHIPPER DECLARATION: I/we warrant first applicable
  customs, import, export and other laws and regulations of all countries to
  from or through which the above mentioned merchandise may pass have been
  complied with. I/we authorize MAIL BOXES ETC. to complete on my/our behalf
  any documents required to comply with such laws and regulations.<span
  style="mso-spacerun:yes">&nbsp; </span>I/we hereby appoint MAIL BOXES ETC. or
  its representative as my/our agent to conduct customs clearance and entry and
  design MAIL BOXES ETC. as the consignee safety for the purpose of designating
  a customs broker to perform customs clearance and entry of the
  merchandise<span style="mso-spacerun:yes">&nbsp; </span>described above. I/we
  certify that all information provided to MAIL BOXES ETC. orally or set forth
  in this commercial invoice is accurate and complete.<span
  style="mso-spacerun:yes">&nbsp; </span>I/we agree to indemnity and hold MAIL
  BOXES ETC. harmes for any claim hability or expense arising from my/our
  failure to comply with any applicable law or regulation.</td>
 </tr>
</table>

</body>

</html>
